@using Microsoft.AspNetCore.Html

<footer class="w3-center footer">
    <div class="w3-container thmLtGray w3-padding-64">
        <div class="w3-third copyNotice w3-center">
            Site is owned and operated by
            <p>Company Name &copy; 2024</p>
        </div>
        <div class="w3-third secondaryNav w3-center">
            <a href="/page/terms">Terms</a>&nbsp;&middot;
            <a href="/page/privacy">Privacy</a>&nbsp;&middot;
            <a href="/cookiePrefs">Manage Cookies</a>
        </div>
        <div class="w3-third w3-center">
            <div class="w3-large secondaryNav">
                <a href="#"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>&nbsp;
                <a href="#"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>&nbsp;
                <a href="#"><i class="fa fa-twitter w3-hover-opacity"></i></a>&nbsp;
                <a href="#"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
            </div>
        </div>
    </div>
</footer>

